@media (max-width:785px)
 {
    .header-class {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-top: 1rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        margin-bottom: 1rem;
    }

    .myportfolio {
        font-size: x-large;
        margin-top: 1rem;
    }

    .listofservices {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .mynameclass {
        font-size: x-large;
    }

    .btn-res {
        font-size: 0.7rem;
        font-weight: lighter;
    }

    .about {
        font-size: 1.7rem;
    }

    .myinfo {
        word-spacing: 1px;
        font-weight: bold;
        font-size: 0.8rem;
    }

    .connect-socials {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0rem;
        text-align: center;

    }

    .connectmetext {
        font-size: 1rem;
        margin-left: 1rem;
    }

    .socials a {
        margin-left: 0;
        height: 30px;
    width: 30px;
        
    }
    .socials a i{
        font-size: 20px;
    }

}