@media (max-width:890px) {

    body {

        background-size: 100% auto;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .header-class {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-top: 1rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        margin-bottom: 1rem;
    }

    .myportfolio {
        font-size: x-large;
        margin-top: 1rem;
    }

    .listofservices {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .mynameclass {
        font-size: x-large;
    }

    .btn-res {
        font-size: 0.7rem;
        font-weight: lighter;
    }

    .about {
        font-size: 1.7rem;
    }

    .myinfo {
        word-spacing: 1px;
        font-weight: bold;
        font-size: 0.8rem;
    }

    .connect-socials {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0rem;
        text-align: center;

    }

    .connectmetext {
        font-size: 1rem;
        margin-left: 1rem;
    }

    .socials a {
        margin-left: 0;
        height: 30px;
        width: 30px;

    }

    .socials a i {
        font-size: 20px;
    }

    .skill-grid {
        grid-template-columns: repeat(auto-fit, 1fr);
        grid-template-rows: repeat(auto-fit, 1fr);

    }

    .skill-flex img {
        width: 56px;
        height: 56px;
        /* force square box */
        object-fit: contain;
        /* prevent stretching/cropping (fixes Spring Boot) */
        display: block;
    }

    .skill-flex span {
        font-size: .8rem;
        line-height: 1.1;
    }
}